.text {
    margin-top: 50px;
    margin-bottom: 10px;
}

#list {
    position: absolute;
    z-index: 2;
}

.list{

}
.navbar {
    background: #181A1C;
    margin-bottom:0;
    min-height:70px;
}
.navbar-inner {
    background: #181A1C;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand img {
    width:120px;
    height:40px;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background:#FECE1A;
    color: #000;
}
.footer {
    background: #181A1C;
    text-align: center;
}
.footer > p {
    color: #fff;
    margin:0;
}

.footer a{
    color:#FECE1A;
}

.footer a:hover, .footer a:focus{
    text-decoration: underline;
}